# API
fastapi
uvicorn[standard]
python-multipart

# PDF Processing
pymupdf

# LangChain
langchain
langchain-core
langchain-text-splitters

# Vector Database
qdrant-client

# Embeddings
sentence-transformers

# LLM
groq

# Environment Variables
python-dotenv


# Redis
redis

# Utilities
uuid-utils>=0.17.0
numpy
pydantic